<h1>About startup weekend</h1>
<p>Startup weekend is a great place to showcase your product and coding skills. Please attend startup weekends to come up with new ideas.
Startup Weekend, you'll be immersed in the ideal environment for startup magic to happen.
Surrounded by smart, passionate people and with the best tools and approaches at your disposal, you’ll take giant leaps toward creating a business, becoming a founder, and connecting with the right people and resources.</p>
<br>
<h3>Event Date: 20th July - 23rd July</h3>
<h4>Event Timing: 10 am - 5pm</h4>
