<!--teams-new.vtl-->
<p>Add a new team: </p>

<form method="post">
  <label for="teamName">Team Name</label>
  <input id="teamName" name="teamName" type="text">
  <button type="submit" class="btn btn-primary">Add Team</button>
</form>
<!--teams-new.vtl-->
